body {
  color: #fafafa;
  position: fixed;
}

#app {
  margin-top: 0;
  margin-left: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: x-large;
}

.success {
  background: #45b748;
}

.fadeAway {
  animation: fadeout 0.2s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
